.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  max-width: 700px;
  padding: 20px 0;
  text-align: center;
}

.app-img {
  border-radius: 15px;
  opacity: 70%;
}

.form { 
  display: flex;
  max-width: 450px;
  gap: 10px;
}

.chart {
  width: 600px;
  height: 300px;
}
@media screen and (max-width: 600px){
  .chart {
    width: 300px;
    height: 240px;
  }

  .table {
    max-width: 300px;
    font-size: 9px;
  }
}
.wether-today {
  margin: 0 auto;
  padding: 15px;
}
.wrapperWeatherDay {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.weatherParth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}